<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.habi.boot.system.auth.mapper.SysRoleFunctionMapper">
    <resultMap id="BaseResultMap" type="com.habi.boot.system.auth.entity.SysRoleFunctionEntity" extends="com.habi.boot.system.base.stdmapper.StdMapper.STD">
        <id column="ROLE_FUNCTION_ID" property="roleFuncitonId" jdbcType="DECIMAL" />
        <result column="FUNCTION_ID" property="functionId" jdbcType="DECIMAL" />
        <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    </resultMap>
    <select id="findByRoleCode" resultMap="BaseResultMap"      parameterType="java.lang.String">
           select srf.role_funciton_id as ROLE_FUNCTION_ID,
                  srf.function_id as FUNCTION_ID,
                  srf.role_id as ROLE_ID
from sys_role_function srf
join sys_role  sr
    on sr.role_id=srf.role_id
  where  sr.role_code =  #{roleCode,jdbcType=VARCHAR}
    </select>
</mapper>
